obj/Debug/netcoreapp2.2/ConsoleApp1.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/ConsoleApp1.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/ConsoleApp1.csproj.nuget.g.props
obj/ConsoleApp1.csproj.nuget.g.targets
obj/project.assets.json
.vs/ConsoleApp1/v15/Server/sqlite3/db.lock
.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide
.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide-shm
.vs/ConsoleApp1/v15/Server/sqlite3/storage.ide-wal
